/*--------------Reset----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/*------------etiquetas--------*/
body {
  font-size: 16px; }

@font-face {
  font-family: "mali";
  src: url(../fonts/Mali-Bold.ttf); }

h1, h2, h3, h4, h5 {
  text-align: center; }

/*-----------Variables---------*/
/*------------mapa------------*/
/*------map-get use en header y nav a hover-------*/
/*--------@estend en .footer-------*/
/*---------@mixin agregado en las a de header-------*/
.color {
  background-color: #203239;
  color: #f0c464; }

/*------Header/nav-------*/
.header, .header--footer {
  width: 100%;
  background-color: #203239;
  padding: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header nav div a img, .header--footer nav div a img {
    width: 5em; }
    .header nav div a img:hover, .header--footer nav div a img:hover {
      transform: scale(1.1); }
  .header nav div ul li a, .header--footer nav div ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 2px #1b1b1b;
    font-family: "mali";
    font-size: 2em;
    margin: 0em; }
    .header nav div ul li a:hover, .header--footer nav div ul li a:hover {
      color: #E0DDAA; }
  .header .buttonBar, .header--footer .buttonBar {
    font-family: "mali";
    text-transform: uppercase; }
  .header .navUl, .header--footer .navUl {
    background-color: #203239; }
  .header .ulNav, .header--footer .ulNav {
    margin-left: 2em; }
  .header #iconoMenu, .header--footer #iconoMenu {
    color: #f0c464; }

/*--------------Main----------*/
.main {
  background-color: #E0DDAA;
  font-family: "mali";
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }
  .main section {
    font-family: "mali";
    padding: 1em; }
  .main .nosotros {
    background: linear-gradient(rgba(59, 12, 12, 0.068), rgba(0, 0, 0, 0.055)), url("../image/parallax2.jpeg");
    height: 24em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #ffffff;
    text-shadow: 2px 2px 2px black; }
    .main .nosotros div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-top: 4em; }
      .main .nosotros div a {
        font-family: "mali";
        text-decoration: none;
        color: #f0c464; }
        .main .nosotros div a:hover {
          color: #E0DDAA; }

.portada {
  border-bottom-right-radius: 2em;
  background: linear-gradient(to left, #3d4d5a, #E0DDAA); }

.portada2 {
  border-bottom-left-radius: 2em;
  background: linear-gradient(to right, #3d4d5a, #E0DDAA); }

.buttonPortada {
  text-decoration: none;
  background-color: #f0c464;
  text-transform: uppercase;
  color: #203239;
  height: 3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-bottom: 1.4em;
  margin-top: 0.3em;
  text-transform: uppercase;
  border-color: #f0c464;
  border-style: solid;
  border-radius: 0.8em; }
  .buttonPortada:hover {
    color: #f0c464; }

/*--------Main perro y gato-------*/
.main .perroGato {
  display: flex;
  flex-wrap: wrap;
  background-color: #304353;
  color: #E0DDAA;
  font-family: "mali";
  padding: 0.5em;
  text-align: center;
  justify-content: center; }
  .main .perroGato h1 {
    text-align: center;
    color: black; }

.main .razas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .main .razas .cardPG {
    background: linear-gradient(to bottom, #E0DDAA, #304353);
    margin-top: 2em;
    margin-bottom: 2em;
    border-end-end-radius: 1em; }
    .main .razas .cardPG .img {
      width: auto;
      height: 20em; }
    .main .razas .cardPG div .buttonRazas {
      background-color: #f0c464;
      color: #203239;
      border: none; }
      .main .razas .cardPG div .buttonRazas:hover {
        background-color: #E0DDAA;
        color: #203239; }

/*----------------paseos------------*/
.mainPaseos {
  background-color: #E0DDAA;
  font-family: "mali";
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }
  .mainPaseos div .perroGato {
    display: flex;
    flex-wrap: wrap;
    background-color: #304353;
    color: #E0DDAA;
    font-family: "mali";
    padding: 0.5em;
    text-align: center;
    justify-content: center; }
    .mainPaseos div .perroGato h1 {
      text-align: center;
      color: black; }
  .mainPaseos div .divCarousel {
    padding: 4em; }
  .mainPaseos div div table {
    background-color: #304353;
    width: 100%;
    border: 1px solid #11171d;
    border-radius: 0.3em; }
    .mainPaseos div div table tr th {
      width: 25%;
      text-align: center;
      vertical-align: center;
      border: 1px solid #182025;
      border-radius: 0.3em;
      background-color: #E0DDAA; }
    .mainPaseos div div table tr td {
      width: 25%;
      text-align: center;
      vertical-align: center;
      border: 1px solid #182025;
      border-radius: 0.3em;
      background-color: #E0DDAA; }
  .mainPaseos .perroGato h2 {
    color: black; }

/*----------------contacto--------------*/
.mainContacto {
  background-color: #E0DDAA;
  font-family: "mali";
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .mainContacto .formulario {
    margin: 1.4em;
    border-radius: 0.5em;
    padding-top: 2em;
    padding-bottom: 1.4em;
    background: radial-gradient(#304353, #2c3b47);
    padding-left: 2em; }
    .mainContacto .formulario h1 {
      font-size: 1.4em;
      text-align: center;
      padding-bottom: 16px;
      color: black; }
    .mainContacto .formulario h4 {
      font-size: 1.4em;
      padding-bottom: 16px;
      color: black; }
    .mainContacto .formulario form p label {
      display: block;
      float: center;
      font-size: 1.4em;
      color: #11171d; }
    .mainContacto .formulario form p input {
      width: 90%;
      height: 2.5em;
      margin: 1em auto;
      border-radius: 0.8em;
      padding-top: 2em;
      padding-bottom: 1.4em;
      background-color: #E0DDAA;
      padding-left: 2em; }
    .mainContacto .formulario form p textarea {
      background-color: #E0DDAA;
      width: 90%;
      height: 9.3em;
      border-radius: 0.8em;
      margin-top: 0.3em;
      padding-left: 0.3em;
      margin-bottom: 1.4em;
      padding-top: 1em; }
    .mainContacto .formulario form p .button {
      height: 3em;
      padding-left: 0.3em;
      padding-right: 0.3em;
      margin-bottom: 1.4em;
      margin-top: 0.3em;
      text-transform: uppercase;
      background-color: #f0c464;
      border-color: #f0c464;
      border-style: solid;
      border-radius: 0.8em;
      width: 90%;
      cursor: pointer;
      font-family: "mali"; }
      .mainContacto .formulario form p .button:hover {
        transform: scale(1.1); }

/*-------------------footer-------------------*/
/*---------@extend--------*/
.header--footer {
  font-size: 1.2em;
  font-family: "mali"; }
  .header--footer div ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #f0c464;
    text-shadow: 2px 2px 2px black;
    font-size: 1.2em; }
    .header--footer div ul li a:hover {
      color: #E0DDAA; }

.logoFooter {
  width: 4em; }
  .logoFooter:hover {
    transform: scale(1.1); }

/*-----------------------------------Media queries----------------------------*/
@media (max-width: 1310px) {
  /*-----Paseos------*/
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9 {
    width: 20em;
    margin: 0.6em; } }

@media (max-width: 1080px) {
  /*------menu mobile---------------------*/
  .menu ul li {
    font-size: 11px; }
  /*----------Paseos--------------------------*/
  .galeria {
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr); }
  /*------Formulario contacto-------------------*/
  .formulario h1 {
    font-size: 13px; }
  .formulario h4 {
    font-size: 11px; } }

@media (max-width: 991px) {
  nav div {
    align-items: center;
    justify-content: space-between; } }

@media (max-width: 768px) {
  body {
    font-size: 12px; }
  /*------menu mobile---------------------------*/
  .menu ul li {
    font-size: 9px; }
  /*--------main mascotas-----------------------*/
  .main .nosotros div {
    padding-top: 0;
    margin-top: 0; }
  .main .mascotas {
    display: flex;
    flex-direction: column; }
    .main .mascotas .mascotasFeliz {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: auto; }
    .main .mascotas .porquePaseo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: auto; }
  h2 {
    margin: 0.5em; }
  /*---------perro y gatos------*/
  .main .razas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .main .razas div {
      height: auto;
      width: 60%; }
  /*------Formulario contacto----*/
  .formulario h1 {
    font-size: 11px; }
  .formulario h4 {
    font-size: 11px; } }

@media (max-width: 560px) {
  body {
    font-size: 11px; }
  /*------menu mobile----*/
  .menu ul li {
    font-size: 7px; }
  /*--------main mascotas-----*/
  .main .mascotas div {
    flex-direction: column; }
  /*---------perro y gatos------*/
  .main .razas div {
    width: 80%; } }

@media (max-width: 431px) {
  body {
    font-size: 9px; }
  /*------menu mobile----*/
  .menu ul li {
    font-size: 5px; } }

@media (max-width: 360px) {
  body {
    font-size: 8px; }
  /*--------main mascotas-----*/
  .main .mascotas div {
    flex-direction: column; }
  /*----------Paseos------*/
  .galeria img {
    width: 20em; }
  /*------Formulario contacto----*/
  .formulario h1 {
    font-size: 9px; }
  .formulario h4 {
    font-size: 9px; } }
