/*------Header/nav-------*/
.header {
    width: 100%;
    background-color: map-get($colores, $azul );
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    nav {
        div {
            a {
                img {
                    width: 8em;

                    &:hover {
                        transform: scale(1.1)
                    }
                }
            }

            ul {
                li {
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-weight: bold;
                        text-shadow: 2px 2px 2px rgb(27, 27, 27);
                        font-family: "mali";
                        font-size: 2em;
                        margin: 0em;

                        &:hover {
                            color: map-get($colores, $beige );
                        }
                    }
                }
            }
        }
    }

    .buttonBar {
        font-family: "mali";
        text-transform: uppercase;
    }

    .navUl {
        background-color: $azul;
    }

    .ulNav {
        margin-left: 2em;
    }

    .iconoMenu {
        color: #f0c464 !important;
        text-decoration:none
    }
}