/*------Header/nav-------*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    font-size: 1em;
}

.header {
    width: 100%;
    background-color: #203239;
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    nav {
        div {
            a {
                img {
                    width: 5em;

                    &:hover {
                        transform: scale(1.1)
                    }
                }
            }

            ul {
                li {
                    a {
                        text-decoration: none;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: bold;
                        color: #f0c464;
                        text-shadow: 2px 2px 2px rgb(27, 27, 27);
                        font-family: "mali";
                        font-size: 2em;
                        margin: 0em;
                        background-color: #203239;

                        &:hover {
                            color: #E0DDAA;
                        }
                    }
                }
            }
        }
    }

    .buttonBar {
        font-family: "mali";
        text-transform: uppercase;
    }

    .navUl {
        background-color: #203239;
    }

    .ulNav {
        margin-left: 25em;
    }

    #iconoMenu {
        color: #f0c464;
    }
}