/*--------------Main----------*/
.main {
    background-color: $beige;
    font-family: "mali";
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    section {
        font-family: "mali";
        padding: 1em;
    }

    .nosotros {
        background: linear-gradient(rgba(59, 12, 12, 0.068), rgba(0, 0, 0, 0.055)), url("../image/parallax2.jpeg");
        height: 22em;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: #ffffff;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);

        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-top: 4em;

            a {
                font-family: "mali";
                text-decoration: none;
                color: $naranja;

                &:hover {
                    color: $beige;
                }
            }

        }
    }
}

.botonAlineado{
    text-align: center;
}

.portada {
    border-bottom-right-radius: 2em;
    background: linear-gradient(to left, #3d4d5a, $beige);
}

.portada2 {
    border-bottom-left-radius: 2em;
    background: linear-gradient(to right, #3d4d5a, $beige);
}

.buttonPortada {
    background-color: $naranja;
    color: $azul;
    border: none;


    &:hover {
        background-color: $beige;
        color: $azul;
    }
}

/*--------Main perro y gato-------*/

.main {
    .perroGato {
        display: flex;
        flex-wrap: wrap;
        background-color: $azulclaro;
        color: $beige;
        font-family: "mali";
        padding: 0.5em;
        text-align: center;
        justify-content: center;

        h1 {
            text-align: center;
            color: $negro;
        }
    }

    .razas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .cardPG {
            background: linear-gradient(to bottom, $beige, $azulclaro);
            margin-top: 2em;
            margin-bottom: 2em;
            border-end-end-radius: 1em;

            .img {
                width: auto;
                height: 20em;
            }

            div {
                .buttonRazas {
                    background-color: $naranja;
                    color: $azul;
                    border: none;
                    text-align: center;

                    &:hover {
                        background-color: $beige;
                        color: $azul;
                    }
                }
            }
        }
    }
}


/*----------------Guarderia---------------*/

.mainPaseos {
    background-color: $beige;
    font-family: "mali";
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    div {
        .perroGato {
            display: flex;
            flex-wrap: wrap;
            background-color: $azulclaro;
            color: $beige;
            font-family: "mali";
            padding: 0.5em;
            text-align: center;
            justify-content: center;

            h2 {
                text-align: center;
                color: $negro;
            }
        }

        .divCarousel {
            padding-left: 10.7em;
            padding-bottom: 2em;
            width: 85%;
            justify-content: center;
        }

        div {
            table {
                background-color: $azulclaro;
                width: 100%;
                border: 1px solid #11171d;
                border-radius: 0.3em;

                tr {
                    th {
                        width: auto;
                        text-align: center;
                        vertical-align: center;
                        border: 1px solid #182025;
                        border-radius: 0.3em;
                        background-color: $beige;

                    }

                    td {
                        width: auto;
                        text-align: center;
                        vertical-align: center;
                        border: 1px solid #182025;
                        border-radius: 0.3em;
                        background-color: $beige;

                    }

                }
            }
        }
    }

    .perroGato {
        h2 {
            color: $negro;
        }
    }
}

/*----------------contacto--------------*/

.mainContacto {
    background-color: $beige;
    font-family: "mali";
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .formulario {
        margin: 1.4em;
        border-radius: 0.5em;
        padding-top: 2em;
        padding-bottom: 1.4em;
        background: radial-gradient($azulclaro, #2c3b47);
        padding-left: 2em;

        h1 {
            font-size: 1.4em;
            text-align: center;
            padding-bottom: 16px;
            color: $negro;

        }

        h4 {
            font-size: 1.4em;
            padding-bottom: 16px;
            color: $negro;

        }

        form {
            p {
                label {
                    display: block;
                    float: center;
                    font-size: 1.4em;
                    color: #11171d;
                }

                input {
                    width: 90%;
                    height: 2.5em;
                    margin: 1em auto;
                    border-radius: 0.8em;
                    padding-top: 2em;
                    padding-bottom: 1.4em;
                    background-color: $beige;
                    padding-left: 2em;
                }

                textarea {
                    background-color: $beige;
                    width: 90%;
                    height: 9.3em;
                    border-radius: 0.8em;
                    margin-top: 0.3em;
                    padding-left: 0.3em;
                    margin-bottom: 1.4em;
                    padding-top: 1em;
                }

                .button {
                    height: 3em;
                    padding-left: 0.3em;
                    padding-right: 0.3em;
                    margin-bottom: 1.4em;
                    margin-top: 0.3em;
                    text-transform: uppercase;
                    background-color: $naranja;
                    border-color: $naranja;
                    border-style: solid;
                    border-radius: 0.8em;
                    width: 90%;
                    cursor: pointer;
                    font-family: "mali";

                    &:hover {
                        transform: scale(1.1)
                    }
                }

            }
        }
    }
}