/*--------------Reset----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/*------------etiquetas--------*/

body {
    font-size: 16px;
}

@font-face {
    font-family: "mali";
    src: url(../fonts/Mali-Bold.ttf);
}

h1, h2, h3 ,h4 , h5 {
    text-align: center;
}

